@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  overflow-x: auto;
  font-size: 14px;
  background: #fff;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input,
textarea {
  -webkit-appearance: none;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
  }
}

* {
  box-sizing: border-box;
}
